.givemesomeroom {
    margin-top: 30px;
    margin-bottom: 5px
}

.givemesomeroom2 {
    margin-top: 20px;
}

.flexme {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 20px;
}

.flexme2 {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.makemetall {
    height: 100px;
    overflow: auto;
    resize: none;
}

.left_margin {
    margin-left: 30px;
    color: crimson;
}

.right_margin {
    margin-left: 20px;
    color: crimson;
}

.white_icons {
    color: white;
}

.nodec {
    text-underline-position: unset;
}